{% extends "template.html" %}
<!------------------------------------------------------------------------->
{% block headcontent %}
<title> {{ title }} </title>
{% endblock %}
<!------------------------------------------------------------------------->
{% block bodytag %}<body>{% endblock %}
<!------------------------------------------------------------------------->
{% block bodycontent %}
    <p style='color:red;font-size: large;'>{{ title }}</p>
{% endblock bodycontent %}
<!------------------------------------------------------------------------->